/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url("/images/site/checkerboard.jpg");
  background-repeat: repeat;
  background-attachment: fixed;
  color: #333;
}

/* App Container */
#app {
  max-width: 100%;
  height: 100svh;
  margin: 0 auto;
  background-color: #fff;
  border: none;
  border-radius: 0px;
  overflow-y: auto;
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  color: #333;
}

header .siteName {
  font-size: 1.5em;
  font-weight: bold;
}

header .siteName a {
  text-decoration: none;
  color: #333;
}

header #tools a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

/* Navigation */
nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  background-color: #333;
  padding: 0;
  margin: 0;
}

nav ul li {
  flex: 1;
}

nav ul li a {
  display: block;
  padding: 15px;
  color: #fff;
  text-decoration: none;
  text-align: center;
}

nav ul li a:hover {
  background-color: #4bc2e3;
  color: #000;
}

/* Main Content Section */
main {
  padding: 1rem;
}

/* Hero Section */
.hero {
  position: relative;
  text-align: center;
  margin: 20px 0;
}

.hero img {
  width: 100%;
  height: auto;
  display: block;
}

.hero-content {
  position: absolute;
  top: 5px;
  left: 5px;
  background: rgba(255, 255, 255, 0.8);
  padding: 5px;
  color: #4bc2e3;
  text-align: left;
  border: 1px solid rgba(191, 191, 191, 0.677);
}

.hero-content h2 {
  margin: 0;
}

.hero-content p {
  margin: 5px 0;
  font-weight: bold;
}

.own-today {
  background-color: #4bc2e3;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  font-weight: bold;
}

/* Home Grid Layout */
.home-grid {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 2rem;
  gap: 30px;
  padding-bottom: 1rem;
}

.reviews h2,
.upgrades h2 {
  color: #000;
}

/* Upgrades */
.upgrade-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.card {
  padding: 10px;
  text-align: center;
}

.img-container {
  background-color: #4bc2e3;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
  border: 1px solid #ccc;
}

.card img {
  max-width: 60px;
}

.card a {
  display: block;
  margin-top: 5px;
  color: #333;
}

/* Footer */
footer {
  padding: 1rem;
  text-align: center;
  border-top: 1px solid #ccc;
  font-weight: bold;
}

/* Large Screen Media Query */
@media screen and (min-width: 768px) {
  #app {
    max-width: 1000px;
    margin: 0.5rem auto;
    border: 5px solid #4bc2e3;
    border-radius: 10px;
  }

  .home-grid {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  .reviews,
  .upgrades {
    flex: 1;
  }

  .hero-content {
    top: 50px;
    left: 50px;
    padding: 20px;
  }
}
