<h1><%= title %></h1>
<%- messages() %>

<ul class="manage-links">
  <li><a href="/inv/add-classification">Add New Classification</a></li>
  <li><a href="/inv/add-inventory">Add New Vehicle</a></li>
</ul>

<h2>Manage Inventory</h2>
<p>Select a classification to see those vehicles.</p>
<%- classificationSelect %>

<table id="inventoryDisplay"></table>

<noscript>
  <p>JavaScript must be enabled to use the inventory management features.</p>
</noscript>

<script src="/js/inventory.js"></script>