<h1><%= title %></h1>

<%- messages() %>

<div class="management-container">
  <ul class="manage-links">
    <li><a href="/inv/add-classification">Add New Classification</a></li>
    <li><a href="/inv/add-inventory">Add New Vehicle</a></li>
  </ul>

  <h2>Manage Inventory</h2>
  <p>Select a classification from the list to see the items belonging to that category.</p>
  
  <div class="select-wrapper">
    <%- classificationSelect %>
  </div>

  <table id="inventoryDisplay"></table>

  <noscript>
    <p class="notice">JavaScript must be enabled to use the management features of this site.</p>
  </noscript>
</div>

<script src="/js/inventory.js"></script>